<!DOCTYPE html>
<html>
    <head>
        <title>Using the Twitter API to make an @AppDirect page</title>
        <link type="text/css" rel="stylesheet" href="bootstrap-3.3.2-dist/css/bootstrap.min.css" media="all" />
        <link type="text/css" rel="stylesheet" href="theme.css" media="all" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <h1>A Little Twitter Page</h1>

            <p>We at AppDirect are interested in making a front-end with standards-compliant, asyncronous, api-driven, beautious javascript. Your task is to do just that with <a href="https://dev.twitter.com/docs/api/1.1" target="_blank">Twitter's REST api</a>.
            </p>
            <p>Please complete <b>any</b> number of the steps below within <b>5 days</b> of us sending you this document. You may put in as many hours as you wish, but we recommend a maximum of around 5
                hours. Use any framework and languages you would like (evidence of native JavaScript use encouraged) to complete the task. We will accept an email attachment of files, a link to a github repo,
                or a url of a website where your solution is posted.
            </p>
            <p>We are looking for code quality, knowledge of cross-browser compatibility, quick load times, and innovation/thoughtfulness.</p>
        </header>

        <section>
            <h2>Part I: get it.</h2>

            <p>Use the <a href="https://dev.twitter.com/docs/api/1.1" target="_blank">Twitter API</a> to fill the following areas on the page:

            <div style="clear:both;"></div>
            <br />

            <div id="twitter-content"></div>

            <script type="text/template" id="item-template-user">
                <div class="col-md-3 user-container" data-name="<%= screen_name %>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Last <span class="title-count"><%= count %></span> tweets from <%= screen_name %>
                                <div style="clear:both;"></div>
                                <br />
                                <span class="glyphicon glyphicon-chevron-down toggle-tools" aria-hidden="true"></span>
                                <div style="clear:both;"></div>
                                <br />
                                <div class="tools hidden">
                                    <span class="glyphicon glyphicon-repeat" data-toggle="tooltip" data-original-title="Refresh" aria-hidden="true"></span>
                                    <ol class="tweets-count" data-toggle="tooltip" data-original-title="Number of tweets">
                                      <li>10</li>
                                      <li>20</li>
                                      <li>30</li>
                                    </ol>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body twitter-container">
                            <span class="twitter-content"></span>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/template" id="item-template-tweet">
                <ul>
                    <% if (in_reply_to_screen_name) { %>
                        <li>
                            <div class="alert alert-info" role="alert">
                                Reply:
                                <a href="<%= status_url %>" target="_blank">
                                    <%= in_reply_to_screen_name %>
                                </a>
                            <div>
                        </li>
                    <% } %>
                    <% if (retweeted) { %>
                        <li>
                            <div class="alert alert-info" role="alert">
                                RT:
                                <a href="<%= status_url %>" target="_blank">
                                    <%= retweeted_status.user.name %>
                                </a>
                            </div>
                        </li>
                    <% } %>
                    <li class="date"><%= formatted_date %></li>
                    <li class="text"><%= text %></li>
                </ul>
                <hr />
            </script>

            <div style="clear:both;"></div>
            <br />

            <p>(Check out the <a href="https://dev.twitter.com/docs/api/1/get/statuses/user_timeline" target="_blank">User Timeline</a> API)

            <p>Each tweet should include at minimum:
            <ul>
                <li>The tweet content
                <li>A well-formatted created_at date
                <li>A link to the tweet.
                <li>For retweets and mentions, the username should be included.
            </ul>
            <p>Please note that Twitter's REST api does not accept cross-domain requests.  Feel free to use a simple proxy server, such as
                <a target="_blank" href="http://mikerogers.io/2013/02/25/how-use-twitter-oauth-1-1-javascriptjquery.html">this</a>.</p>
            <p style="color:#666;"><b>Bonuses/for fun</b>: Make the columns flexible for screen width so the columns fill 100% of the page width. Layout could be as small as 320px wide. Column arrangment is
                open-ended.</p>
        </section>

        <section>
            <h2>Part II: Meta</h2>

            <p>Make an "edit layout" view that has a form to change the layout settings.</p>

            <p>Use HTML5 LocalStorage to store and load the layout settings.</p>

            <p>Configurable settings could possibly include:
            <ul>
                <li>The order of the columns.
                <li>The time range of the tweets shown.
                <li>The number of tweets shown in each column.
                <li>The overall palette/skin of the page.
            </ul>
            <p>The "edit layout" panel can appear either on the same page as the tweets page, on its own page, or embedded within the tweets layout - whichever you would like. There should be a
                straightforward way to toggle between edit and view modes, and it should be clear to the user which mode they are currently in.
            </p>

            <p style="color:#666;"><b>Bonuses/for fun</b>: Use an interaction (like drag and drop) instead of a form field to order the columns.</p>
        </section>

        <script type="text/javascript" src="jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="underscore.js" /></script>
        <script type="text/javascript" src="backbone.js" /></script>
        <script type="text/javascript" src="moment.min.js" /></script>
        <script type="text/javascript" src="bootstrap-3.3.2-dist/js/bootstrap.min.js" /></script>
        <script type="text/javascript" src="twitter-client-backbone.js" /></script>

    </body>
</html>
